#container{
  margin: 0 auto;
  padding: 0;
  max-width: 2000px;
  list-style: none;
  /*text-align: center;*/
  font-size: 0px;
}


/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

#container > div {
  position: relative;
  float: left;

  margin: 0px 0px 20px 20px;
  width: 280px;
  height: 270px;
  opacity: 1;
  /*background-color: #400;*/
  /*-webkit-backface-visibility: hidden;
  backface-visibility: hidden;*/
  overflow: hidden;
}

#container > div > * {
  margin: 0;
  padding: 0;
}

#container > div a img {
  display: block;
  margin: 0 auto;
  border: none;
  min-width: 280px;
  max-width: 300px;
  /*min-height: 100%;*/
}

#container > div a {
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
}

#thumb-title{
  position: absolute;
  width: 100%;
  padding-top: 5px;
  /*height: 80px;*/
  top: 240px;
  left: 0px;
  text-align: center;
  background-color: #ffffff;
  color: #000;
  height: 40px;
  font-size: 14px;
  font-family: 'Mada', sans-serif;

}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.highlight{
  border-bottom: 1px dotted;
  //border-bottom-width: 15px;
  width: 60%;
  color: #ca5646;
}
